<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		$("document").ready(function(){
			var i = <%=user.categories.length %>;

			$(".lolz").click(function(){
				var insert = '<div class="form-group">' +
             		'<input type="text" class="form-control" name="category' + i + 
             		'name" value="test' + i + '">' +
             		'<input type="number" class="form-control" name="category' + i + 
             		'priority" value="test' + i + 'min="1" max="3"">' +
             		'<input type="number" class="form-control" name="category' + i + 
             		'duration" value="test' + i + ' min="0" max="24"></div>'
             		;
				i = i+1;
				$("#submitted").before(insert)
				$("#hidden").val(i);
//				alert($("#hidden").val());

			});
		});
	</script>
</head>
<body>
<h1 class="test"></h1>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
<h1 class="lolz"></h1>


		<div class="row">

			<!-- LOCAL INFORMATION -->
			<h1> test </h1>

			<form action="/update/<%=user._id%>" method="post" id="adding">

				<input type="hidden" id="hidden" name="increment" value="<%=user.categories.length %>"> 
				<button type="button" class="lolz">Add Category</button>
				<br>
             	<%for (var i = 0; i < user.categories.length; i++) {%>
             	<div class="form-group">
             	<input type="text" class="form-control" name="category<%=i %>name" value="<%=user.categories[i].taskname%>" placeholder = "Enter task name">
				<input type="number" class="form-control" name="category<%=i %>priority" value="<%=user.categories[i].taskpriority%>" placeholder = "Enter task priority" min="1" max="3">
				<input type="number" class="form-control" name="category<%=i %>duration" value="<%=user.categories[i].taskduration%>" placeholder = "Enter task duration" min="0" max="24">
             		<!--<input type="text" class="form-control" name="category<%=i %>" value="<%=user.categories[i] %>"> -->
             	</div>
             	<%} %>
				<div>
				Build a Task


				<button type="submit" class="btn btn-warning btn-lg" id = "submitted">Update</button>

			</form>


		</div>

	</div>
</body>
</html>